<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="jumbotron col-sm-11 m-auto">
        <form th:action="@{/register}" method="post">
            <div class="form-group">
                <label for="inputUsername">Username: </label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password: </label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label for="inputConfirmPassword">Confirm Password: </label>
                <input type="password" class="form-control" id="inputConfirmPassword"
                       placeholder="Confirm Password" name="confirmPassword">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address: </label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" name="email">
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</main>
</body>
</html>