<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main>
    <div class="jumbotron col-sm-11 m-auto">
        <h1>Edit Virus!</h1>
        <hr/>
        <form th:action="@{/viruses/add}" th:method="post">
            <th:block th:include="~{fragments/virus-form}"/>
        </form>
        <script>
            $(".edit-virus").hide();
        </script>
    </div>
</main>
</html>