<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>

<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"/>
    </header>

    <main>
        <div class="jumbotron mt-4 re-background ml-3 mr-3">
            <h1>Project: Resident Evil.</h1>
            <hr color="greenyellow"/>
            <p>
                Resident Evil is a system that registers virus spreads across the world.
            </p>
        </div>
    </main>
</div>
</body>
</html>